*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
display: flex;
background: #000000;
color: white;
}

.navbar {
position: relative;
height: 25vh;
width: 8vw;
left: 0vw;
top: 0vh;
border-bottom-right-radius: 20rem;


background: #bd2020;
z-index: 10;
}

.btn {
  background: transparent;
  border: none;
  position: relative;
  width: 4vw;
  height: 4vh;
  left: 1.5vw;
  top: 4vh;
}

.btn-two {
  top: 10vh;
}

.btn:hover {
background: red;
}

.btn:focus {
  background: rgb(97, 43, 43);
}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid rgb(48, 12, 12);
  border-radius: .5rem;
  z-index: 10;
  background-color: rgb(75, 15, 15);
  color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: .5rem .8rem;
}


.main {
position: absolute;
width: 100vw;
height: 60vh;
left: 5.5vw;
top: 0vh;

background: transparent;
}

#c {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 10;

}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects {
position: absolute;
height: 50vh;
width: 100vw;
left: 0vw;


top: 60vh;

background: #611818;
}


.project {
    position: absolute;
    width: 18vw;
    left: 10vw;
    object-fit: cover;

    top: 10vh;

    background: #944747;
}

.project-two {
  left: 40vw;
}

.project-three {
  left: 70vw;
}

.com {
  position: relative;
  padding: 1vw;
}

.imgb {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.imgb:hover {
  background:#ffffff;
}

.imgb:focus {
  background: #000000;
}

.footer{
    position: absolute;
    height: 35vh;
    width: 100vw;
    left: 0vw;
    bottom: -45vh;
    background: #470b0b;
    align-items: center;
}

.about {
  position: absolute;
  width: 30vw;
  top: 3vh;
  left: 45vw;
}

.me {
  position: absolute;
  left: -30%;
  width: 30vw;
}

@media screen and (max-width: 425px){
  .navbar {
    width: 60vw;
    height: 10vh;
    left: 0vw;
    top: 0vh;
  }

  .btn-one {
    width: 15vw;
    left: 5vw;
    top: 2vh;
  }

  .btn-two {
    width: 5vh;
    left: 14vw;
    top: 2vh;
  }

  .projects {
    height: 80vh;
  }

  .project {
    position: relative;
    width: 50vw;
    top: 3vh;
    left:22vw;
    align-content: center;
  }
  .project-two {
    top: 5vh;
  }

  .project-three {
    top: 23vw;
  }

  .footer {
    position: absolute;
    height: 40vh;
    width: 100vw;
    left: 0vw;
    top: 140vh;
  }

  .about {
    position: absolute;
    width: 50vw;
    top: 3vh;
    left: 35vw;
  }

  .me {
    position: absolute;
    left: -30%;
    width: 55vw;
  }
}