@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@500&display=swap');

body {
    display: flex;
    background-color:rgb(18, 37, 33);
    font-family:'Kaisei Decol', serif;
}

.btn {
    position: absolute;
    width: 20%;
    height: 10%;
    right: 40%;
    top: 10%;

    background: #135748;
    color: white;
}

.btn:hover {
    background: #0c352c;
}


.text {

    position: absolute;
    width: 25%;
    height: 10%;

    font-style: normal;
    font-weight: bold;
    font-size: 100%;

    top: 25%;
    left:25%;

    color:white;
}

.rectangle {
    top: 30%;
    right: 25%;

    position: absolute;
    width: 50%;
    height: 20%;

    background: rgb(27, 80, 68);

}

#joke {
    position: absolute;
    width: 40%;
    height: 20%;

    font-style: normal;
    font-weight: bold;
    font-size: 100%;

    top: 37%;
    left: 33%;

    color: white;
}
